
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,200;1,400&family=Tektur:wght@400..900&display=swap');



 

html {
    scroll-behavior: smooth;
}

:root {
    --light: #eaecee;
    --color--text: #3c3e41;
    --box-shodow: 5px 5px 15px #c1c8d3, -5px -5px -15px #ffffffff;
    --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);

    
}
a{
    color: #3c3e41;
    text-decoration: none;


}
body{
    margin: 0;
    background-color: var(--light);
    color: var(--color--text);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

    
}


header{
    position: fixed;
    top: 0;
    width: calc(100% -20px);
    padding: 10px;
    border-bottom: 1px solid #dce1e4;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--light);
    z-index: 1;

}

header .logo img{
    height: 50px;
    width: 50px;
}
header ul{
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;

}
header ul li {
    padding: 0 30px ;

}
.container{
    width: 1200px;
    max-width: 90%;
    margin: auto;

}
.banner{
    margin-top: 150px;
}
