@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,200;1,400&family=Tektur:wght@400..900&display=swap');





html {
    scroll-behavior: smooth;
}

:root {
    --light: #eaecee;
    --color--text: #3c3e41;
    --box-shodow: 5px 5px 15px #c1c8d3, -5px -5px 15px #ffffffff;
    --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);


}

a {
    color: #3c3e41;
    text-decoration: none;


}

body {
    margin: 0;
    background-color: var(--light);
    color: var(--color--text);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;


}


header {
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid #dce1e4;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--light);
    z-index: 1;

}

.logo {
    align-items: center;
    display: flex;

}

header .logo img {
    height: 50px;
    width: 50px;
}

header ul {
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;

}

header ul li {
    /* padding: 0 30px; */
    padding: 11px 30px 11px 30px;


}

header ul li:hover {
    background-color: gainsboro;
    box-shadow: var(--box-shodow);
    transition: .4s;
    border-radius: 50px;

}



.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;

}

.banner {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 1px solid #dce1e4;
    /* padding: 50px; */

}

.banner .content {
    text-align: justify;
    padding-right: 50px;
}

.banner .content h1 {
    font-size: 4.5rem;
    margin: 0;

}

.gradientText {
    display: inline-block;
    background: var(--gradient-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: medium; */


}

.job {
    display: inline-block;
    font-size: 50px;


}

.job::before {
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate, changeText 4s linear infinite;
}

@keyframes effectText {
    from {
        width: 0;
    }

    to {
        width: 200px;
    }
}

@keyframes changeText {
    from {
        content: attr(data-job1);
    }

    to {
        content: attr(data-job2);
    }

}

.find {
    margin-top: 5opx;

}

.find ul {
    padding: 0;
    list-style: none;

}

.find ul li {
    width: 50px;
    height: 50px;
    box-shadow: var(--box-shodow);
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.find ul li:hover {
    color: #fff;
    background-image: var(--gradient-bg);


}

.banner .avatar {

    position: relative;
    height: max-content;
    text-align: center;
    box-shadow: var(--box-shodow);

    
}


.banner .avatar:hover {

    background-color: gainsboro;
    box-shadow: var(--box-shodow);
    transition: .2s;
    border-radius: 50px;
    background-color: #88cfe3; 

    


}


.banner img {
    width: 90%;

}

header .navDiv,
header .nav label,
header input {
    display: none;
}

.title {
    text-align: center;
    padding-top: 100px;
}

.listskills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    border-bottom: 1px solid #dce1e4;
    padding-bottom: 50px;
}

.listskills .evaluate {
    widows: 100%;
    height: 20px;
    box-shadow: var(--box-shodow);
    border-radius: 10px;
    margin-top: 20px;
    position: relative;

}

.listskills .evaluate::before {
    position: absolute;
    height: 100%;
    width: var(--point);
    background-image: var(--gradient-bg);
    content: '';
    border-radius: 10px;

}

.listProject {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 20px;
    border-bottom: 1px solid #009dff;

}

.listProject .item {
    text-align: center;
    box-shadow: var(--box-shodow);
    padding: 20px;
}

.listProject .item img {
    width: 90%;
    border-radius: 20px;

}

.listProject .item {
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}

.contact {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.contact li {
    width: 50px;
    height: 50px;
    margin: 20px;
    box-shadow: var(--box-shodow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .5s;
}

.contact li:hover {
    background-image: var(--gradient-bg);
    color: #fff;
}

.contact-two {

    background-color: #ffffff;
    box-shadow: var(--box-shodow);
    border-radius: 5px;
    transition: .5s;
}

@media screen and (min-width: 1224px) {
    .banner {
        grid-template-columns: 40% 60%;

    }

    .banner .contact h1 {
        font-size: 2em;
    }

    .listProject {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 767px) {
    .banner {
        grid-template-columns: 1fr;
    }

    .banner .contact h1 {
        font-size: 1.2em;
    }

    .banner .avatar {
        grid-row-start: 1;
    }

    header .navDiv {
        display: flex;
        justify-content: flex-end;

    }

    header label {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        box-shadow: var(--box-shodow);
        border-radius: 50%;

    }

    header .nav {
        position: fixed;
        background-color: #d8e2e8;
        z-index: 1;
        width: 50%;

        height: 100%;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 70px);
        transform: translateX(-100%);
        transition: .2s;

    }

    input#menu:checked~.nav {
        transform: translateX(0%);
    }

    header .nav label {
        width: 50px;
        height: 50px;
        box-shadow: var(--box-shodow);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: red;
    }

    .banner .content {
        padding-right: 0px;

    }

    .listskills {
        grid-template-columns: 1fr;

    }
}