@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100;1,200;1,400&family=Tektur:wght@400..900&display=swap');





html {
    scroll-behavior: smooth;
}

:root {
    --light: #eaecee;
    --color--text: #3c3e41;
    --box-shodow: 5px 5px 15px #c1c8d3, -5px -5px -15px #ffffffff;
    --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);


}

a {
    color: #3c3e41;
    text-decoration: none;


}

body {
    margin: 0;
    background-color: var(--light);
    color: var(--color--text);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;


}


header {
    position: fixed;
    top: 0;
    width: calc(100% -20px);
    padding: 10px;
    border-bottom: 1px solid #dce1e4;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: var(--light);
    z-index: 1;

}
.logo{
    align-items: center;
    display: flex;

}

header .logo img {
    height: 50px;
    width: 50px;
}

header ul {
    margin: 0;
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;

}

header ul li {
    padding: 0 30px;

}

.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;

}

.banner {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 1px solid #dce1e4;
    padding: 50px;

}

.banner .content {
    text-align: justify;
    padding-right: 50px;
}

.banner .content h1 {
    font-size: 4.5rem;
    margin: 0;
}

.gradientText {
    display: inline-block;
    background: var(--gradient-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.job {
    display: inline-block;


}

.job::before {
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate, changeText 4s linear infinite;
}

@keyframes effectText {
    from {
        width: 0;
    }

    to {
        width: 500px;
    }
}

@keyframes changeText {
    from {
        content: attr(data-job1);
    }

    to {
        content: attr(data-job2);
    }

}

.find {
    margin-top: 5opx;

}

.find ul {
    padding: 0;
    list-style: none;

}

.find ul li {
    width: 50px;
    height: 50px;
    box-shadow: var(--box-shodow);
    margin: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.find ul li:hover{
   color: #fff;
   background-image: var(--gradient-bg);


}
.banner .avatar{
    position: relative;
    height: max-content;
    text-align: center;
}
.banner .avatar:hover{
    position: absolute;
    content: "";
    widows: 90%;
    height: 80%;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
    box-shadow: var(--box-shodow);


}
.banner img{
    width: 90%;

}
header .navDiv,
header .nav label,
header input{
display: none;
}

